

<div class="f-info">
    <div class="f-social-media">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="f-brand-name">
        <h3>&copy; WanderLust Private Limited</h3>
    </div>
    <div class="privacy-terms">
        <a href="/privacy">Privacy</a>
        <a href="/terms">&Terms</a>
    </div>

</div>