body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar-brand i{
    font-size: 2.5rem;
    color: rgb(255, 89, 0);
}

.f-info{
    background-color: #f8f9fa;
    text-align: center;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem;
}

.fa-brands{
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
}

.privacy-terms a{
    color: rgb(11, 4, 1);
    text-decoration: none;
}

.privacy-terms a:hover{
    text-decoration: underline;
}


.container{
    margin-top: 15px;
}
.card {
    border: none !important;
}

.card img {
    height: 20rem;
    border-radius: 15px !important;
    object-fit:cover;
}

.listing-link{
    text-decoration: none;
}

.add-btn{
    background-color: rgb(255, 89, 0) !important;
    border: none !important;
    border-radius: 4px solid trasparent;
}