

.navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar-brand i{
    font-size: 2.5rem;
    color: rgb(255, 89, 0);
}

.f-info{
    background-color: #f8f9fa;
    text-align: center;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem;
}

.fa-brands{
    font-size: 1.5rem;
}

.privacy-terms a{
    color: rgb(11, 4, 1);
    text-decoration: none;
}

.privacy-terms a:hover{
    text-decoration: underline;
}